dist/
build/
piptest/
.python-version
*.py[cod]
__pycache__/
*.egg-info
build.sh
.idea/
geckodriver.log
*.ipynb
.ipynb_checkpoints
.vscode/


# docs
/docs/source/_static
*.png
images/
sounds/

venv/

!tests/src/**
src/test*.py
